.root {
  -fx-background-color: #f8bdb7;
  -fx-font-family: "Roboto Black";
  -fx-font-weight: bold;
}

.button {
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;
  -fx-border-width: 0px;

  -fx-background-color: #e3887f;
  -fx-text-fill: #3b3b3b;

  -fx-font-size: 10;
}

.button:hover {
  -fx-background-color: #f0aea8;
}

.button:pressed {
  -fx-background-color: #e86d61;
}