.root {
  -fx-background-color: #f8bdb7;
  -fx-font-family: "Roboto Black";
  -fx-font-weight: bold;
}

.choice-box .label {
  -fx-text-fill: #3b3b3b;
}

.button, .choice-box, .choice-box .context-menu{
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;
  -fx-border-width: 0px;
  -fx-background-color: #ffd8d4;
  -fx-font-size: 10;
  -fx-text-fill: #3b3b3b;
}

.choice-box .menu-item > .label {
  -fx-text-fill: #3b3b3b;
}

.choice-box .menu-item:focused {
  -fx-background-color: #f0aea8;
}

.button:hover, .choice-box:hover {
  -fx-background-color: #f0aea8;
}

.button:pressed {
  -fx-background-color: #e86d61;
}

.chart-pie-label {
  -fx-fill: #3b3b3b;
}