.root {
  -fx-background-color: #2b2b2b;
  -fx-font-family: "Roboto Black";
  -fx-font-weight: bold;
}

.button, .combo-box{
  -fx-border-radius: 10px;
  -fx-background-radius: 10px;
  -fx-border-width: 0px;

  -fx-background-color: #1c1c1c;
  -fx-text-fill: #d6d6d6;

  -fx-font-size: 10;
}

.button:hover, .combo-box:hover {
  -fx-background-color: #4d4d4d;
}

.button:pressed {
  -fx-background-color: #171717;
}